h4 {
  margin: 0;
  padding: 0;
  font-size: 12px; 
}

#dash {
  padding: 10px;
  margin: 10px;
  border-radius:20px;
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
box-shadow: 0 20px 50px rgb(180, 174, 174);
}


button{
    margin:  25px, 10px, 25px, 10px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background: #4176dc;
    color: #ffffff;
    font-size: large;
    transition: 100ms;
}
button:hover{
  
    margin:  30px, 10px, 30px, 10px;
    padding: 12px;
    border-radius: 35px;
    border: none;
    background: #2353aa;
    color: #d4d3d3;
    font-size: large;
    transition: 100ms;
}
svg {
  width: 170px;
  height: 170px;
}
circle {
  fill: none;
  stroke-width:7;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  background-color: #cfe2ff;
}
.bg {
  stroke: #e2dfdf; 
}
.progress {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.05s linear;
}
#progress-1{
    stroke-linecap: round;
  transition: stroke-dashoffset 0.05s linear;
  stroke: blue;
}
#progress-2{
    stroke-linecap: round;
  transition: stroke-dashoffset 0.05s linear;
  stroke: rgb(245,157,80);
}
#progress-3{
    stroke-linecap: round;
  transition: stroke-dashoffset 0.05s linear;
  stroke: rgb(94,196,156);
}

.container {
  display: flex;
  gap: 0rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
}
.container-op {
  flex-direction: row;
  display: flex;
  gap: 01rem;
  flex-direction: column;
    margin: 0px;
  padding: 0px;
}
input{  
  height: 10px;
}

#search{
    display: flex;
  align-items: center;
  gap: 8px;           
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin: 30px 0;
  border-radius: 8px;
  max-width: 250px;      
  background: #fff;
  margin-bottom: 10px; 
}


#search input {
  border: none;
  outline: none;
  flex: 0.5;           
  max-width: 250px;      
  font-size: 14px;
  padding: 5px;

}

#search i {
  color: #666;
  font-size: 16px;
  flex-shrink: 0;     
}


.filter{  
  display: flex;
  align-items: center;
  gap: 0px;           
  border-bottom: 10px solid #12e7dd;
  border-radius: 10px; 
  background: #08ff8c5b;
  color: #ff7e05;
  margin: 2px; 
  padding: 0%;
  max-height: 30px;
  font-size: 15px;
}

.filter:hover { 
  
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 0px;           
  padding:5px 10px;
  border-bottom: 15px solid #0ca382;
  border-radius: 15px; 
  background: #d9dbda2f;
  max-height: 35px;
  color: #0e055a;
  margin: 5px;
}

.filter:active{
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 0px;           
  padding:5px 10px;
  border-bottom: 15px solid #0ca382;
  border-radius: 15px; 
  background: #d9dbda2f;
  max-height: 35px;
  color: #0e055a;
  margin: 5px;
}